<div class="container">
    <label class="priorAuthLabel"> Provider Input</label>
  
    <form [formGroup]="providerForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col">
            <input id ="memberID" type="text" formControlName="memberID" maxlength="10" placeholder="Member ID" required>
        </div>
       <div class="col">
          <input type="text" formControlName="providerId" maxlength="10" placeholder="Provider ID">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <input type="text" formControlName="lineOfService" maxlength="10" placeholder="Line of Service">
        </div>
        <div class="col">
          <input type="text" formControlName="procedureCode" maxlength="10" placeholder="Procedure Code">
        </div>
  
      </div>
  <div class="row">
    <div class="col">
      <input type="text" formControlName="diagnosisCodes" maxlength="10" placeholder="Diagonosis Codes">
    </div>
  </div>
  
      <div class="row">
        <div class="col-md-4 col-lg-2">
  
          <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="!providerForm.valid">Submit
          </button>
        </div><!-- /col -->
      </div><!-- /row -->
  
  
    </form>
    <br>
    <br>
    <br>
  
    <div class="row" *ngIf= "this.response1!=null">
      <div class="col">
          <label class="priorAuthLabel"> Member Coverage for Inquired Procedure and Diagonis Code</label>
          <table class="table">
          <thead>
          <tr>
            <th scope="col">Procedure Code</th>
            <th scope="col">Diagonis Code</th>
            <th scope="col">Coverage</th>
            <th scope="col">Pre Auth Required</th>
          </tr>
          </thead>
          <tbody>
              <ul>
                  <li *ngFor="let item of this.diagnosisCd | keyvalue">
                      <tr>
                          <th scope="row">  <ul>
                              <li *ngFor="let item of this.procedureCode | keyvalue">
                                {{item.key}}: {{item.value}}
                              </li>
                            </ul></th>
                          <td> {{item.key}}: {{item.value}}</td>
                          <td>100%</td>
                          <td>yes</td>
                        </tr>
                  </li>
                </ul>
        
          </tbody>
        </table>
      </div>
    </div>


    <br>
    <br>
    <br>
    <div class="row" *ngIf= "this.response1!=null">
      <div class="col">
        
        <label class="priorAuthLabel">Suggested Additional Services</label>
      </div>
    </div>
  </div>
  